
body {
  font-family: "Times New Roman", Times, serif;
  padding: 100px;
  font-size: 18px;
}

////////////////////////////////////////
// Generic styles

.sf-label {
  display: inline-block;
  width: 110px;
  color: darkslategray;
}

.sf-main {
  background: #fff;
}

.sf-header {
  font-size: 34px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.sf-debug-panel {
  .hr {
  margin-top: 100px;
  }
  .header {
    font-size: 28px;
  }
  .body {
    font-size: 12px;
  }
}

.sf-basic-button {
  margin-top: 25px;
  margin-left: 10px;
}

.sf-header-button {
  margin-right: 5px;
}

sf-notify {
  padding: 5px;
  font-size: 15px;
  color: black;
}

.sf-error-notify {
//  @extend .sf-notify;
  padding: 5px;
  font-size: 15px;
  color: black;
  background-color: #f44336;
}

// TODO: For some reason extend not working another time.
.sf-ok-notify {
//  @extend .sf-notify;
  padding: 5px;
  font-size: 15px;
  color: black;
  background-color: #36f4b2;
}

.sf-closebtn {
  margin-left: 20px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 25px;
  line-height: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.sf-page-container {
  display: flex;
  flex-flow: row;
}

.sf-page-inner-notification {
  padding-left: 20px;
}

.sf-table {
  th, td {
    text-align: left;
    padding: 8px;
  }
  //tr:nth-child(even) {background-color: #f2f2f2;}
}

//@import "signin";
