{
 ; NOTE: All parameters can be overridden by environment variable.
 ; E.g. :ss-env => SS_ENV .

 :ss-env         "single-node"
 ; ss-env "dynamodb-local"

 :server         {
                  :port 6161
                  }

 :domain         {
                  :data-dir "resources/data"
                  }
 }



