{
 ; NOTE: All parameters can be overridden by environment variable.
 ; E.g. :ss-env => SS_ENV .

 :my-env "dev"
 :ss-env "single-node"
 ; ss-env "aws" ; NOTE: Whether to use local dynamodb or real is configured in :aws section.

 :server {
          ; Can be overridden by environment variable SERVER__PORT (two underscores).
          :port 6161
          }

 :domain {
          :data-dir "resources/data"
          }
 ; NOTE: This is just for local-dynamodb testing.
 ; The real AWS / DynamoDB role or credentials should be given by the infrastructure in which the application is deployed.
 ; You can put the AWS profile in Run Configuration.
 :aws    {
          ; NOTE: For local testing see: ; https://cognitect-labs.github.io/aws-api/cognitect.aws.client.api-api.html
          ;"http://dynamodb.eu-west-1.localhost:8000"
          :endpoint          {:protocol :http
                              ;:hostname "dynamodb.eu-west-1.localhost"
                              :hostname "localhost"
                              :port     8000
                              :path     ""
                              }
          ; DynamoDB instance: local => use local Docker container.
          ;                    real => use real AWS DynamoDB service.
          :dynamodb-instance :local
          :ss-table-prefix "ss"
          }
 }



