// NOTE: just css

body {
  font-family: "Times New Roman", Times, serif;
  padding: 100px;
  font-size: 18px;
}

////////////////////////////////////////
// We use mostly Bulma styles.


.dropdown-content {
  max-height: 20em;
  overflow: auto;
}
