
body {
  font-family: "Times New Roman", Times, serif;
  padding: 100px;
  font-size: 18px;
}

////////////////////////////////////////
// Generic styles


.ws-header {
  font-size: 34px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.ws-label {
  display: inline-block;
  width: 110px;
  color: darkslategray;
}

.ws-main {
  background: #fff;
}

.ws-content {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ws-metric-content {
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ws-worldmap-content {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
}



.ws-debug-panel {
  .hr {
  margin-top: 100px;
  }
  .header {
    font-size: 28px;
  }
  .body {
    font-size: 12px;
  }
}



