# Virtualenv
venv/

# Emacs backups
*~

# Generated documentation
doc-gen/

# Python class files
*.pyc

# IntelliJ IDEA / PyCharm
.idea/
*.iml

# Log files
*.log

# target directory
target/

# tmp directories everywhere
tmp/

# Personal information
personal-info/

# Leiningen
.lein-env
.lein-failures
.lein-repl-history
.nrepl-port

# Javascript generated stuff
clj-ring-cljs-reagent-demo/simple-frontend/public/js/

# Python virtual environments
venv3/

# Azurite installation
clj-ring-cljs-reagent-demo/simple-server/azure-table-storage/azurite/
