{:deps {:aliases [:dev :common :backend :frontend :kari :calva]}
 :builds {:app {:target :browser
                :output-dir "dev-resources/public/js"
                :asset-path "/js"
                :devtools {:watch-dir "dev-resources/public"
                           :preloads [hashp.core]
                           ;:preloads [devtools.preload
                           ;           reagent-dev-tools.preload
                           ;           day8.re-frame-10x.preload
                           ;           ]
                           }
                :modules {:main {:entries [simplefrontend.main]}}
                :release {:output-dir "prod-resources/public/js"
                          :compiler-options {:source-map "prod-resources/public/js/main.js.map"
                                             :optimizations :advanced}}
                ;:compiler-options {:infer-externs :auto
                ;                   :closure-defines {"re_frame.trace.trace_enabled_QMARK_" true}
                ;                   :external-config {:reagent-dev-tools {:state-atom re-frame.db.app-db}}
                ;                   }
                ;; :source-map true
                }}}
