[
 ; DOMAIN
 ; Product group
 {:db/ident :domain.product-group/id
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/identity
  :db/doc "The id of the product group"}

 {:db/ident :domain.product-group/name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "The name of the product group"}

 ; Product
 {:db/ident :domain.product/id
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/identity
  :db/doc "The id of the product"}

 {:db/ident :domain.product/pg-id
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc "The product group id of the product"}

 {:db/ident :domain.product/title
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "The title of the product"}

 {:db/ident :domain.product/price
  :db/valueType :db.type/double
  :db/cardinality :db.cardinality/one
  :db/doc "The price of the product"}

 {:db/ident :domain.product/a_or_d
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "The author or the director of the product"}

 {:db/ident :domain.product/year
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one
  :db/doc "The year of the product"}

 {:db/ident :domain.product/country
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "The country of the product"}

 {:db/ident :domain.product/g_or_l
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "The genre or language of the product"}

 ; USER
 ; user
 {:db/ident :user.user/id
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/identity
  :db/doc "The id of the user"}

 {:db/ident :user.user/email
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "The email of the user"}

 {:db/ident :user.user/first-name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "The first name of the user"}

 {:db/ident :user.user/last-name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "The last name of the user"}

 {:db/ident :user.user/hashed-password
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "The hashed password of the user"}

 {:db/ident :user.user/hashed-password
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "The hashed password of the user"}

 ; SESSION
 ; session
 {:db/ident :session.session/token
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/identity
  :db/doc "The session token"}
 ]








