{

 :backend/data {:always-reset true
                :data-files ["data/csv/d025f231-b860-44e8-90dc-c42e4482f976_Data.csv"
                             "data/csv/6f85ca2a-e4ad-4def-9a7e-536f827a55c7_Data.csv"]
                :topojson-file "data/csv/topojson-country-codes.csv"
                }

 :backend/jetty {:port 5522
                 :join? false
                 :env #ig/ref :backend/env}

 :backend/env {:data #ig/ref :backend/data}


 :backend/nrepl {:bind #profile {:prod "0.0.0.0"
                                 :dev "localhost"}
                 :port 5533}
 }

