{
 :runtime-env :dev
 :nrepl {:bind "0.0.0.0" :port 6262}
 :web-server  {:server-port      6161
               ; TODO: Overriding the port with random port since some issues with Integrant configuration.
               ;:test-server-port 6171
               }

 :jwt         {:exp 2000}

 :db          {;; CSV
               :csv       {:data-dir "dev-resources/data"}
               ;; Local DynamoDB
               :local-ddb {:ss-table-prefix "ss"
                           :config          {:aws-profile "local-dynamodb"
                                             ; NOTE: endpoint should be defined only if using local-dynamodb profile.
                                             ; https://cognitect-labs.github.io/aws-api/cognitect.aws.client.api-api.html
                                             :endpoint    {:protocol :http :hostname "localhost" :port 8000}}}
               ;; Real DynamoDB
               :aws-ddb   {:ss-table-prefix "ss"
                           :config          {:aws-profile "m-sand"}}
               ;; Local Postgres
               :local-postgres  {}
               ;; Real Postgres.
               :aws-postgres {}
               }
 }



