{:deps {:aliases [:shadow-cljs :frontend]}
 ; Here you can find the Shadow cljs server http page.
 #_#_:http {:port 9030
        :host "localhost"}
 ; Here you can find the development frontend server http page.
 ; Let's comment it since we want to have the development server
 ; connect to port where backend is servinging frontend.
 :dev-http {9080 "public"
            9081 "target/browser-test"}
 :builds {:app
          {:target :browser
        ;;   :module-hash-names true
           :devtools {;:watch-dir "target/dev/public"
                       :preloads [preload devtools.preload dev]}
           :output-dir "target/dev/public/js"
           :modules {:main {:entries [frontend.core]
                            :init-fn frontend.core/init}}
           ;;:devtools {:preloads [uix.preload preload devtools.preload dev]}
           :release {:output-dir "target/release/public/js"}}

        ;;   :test-browser
        ;;   {:target :browser-test
        ;;    :test-dir "target/browser-test/"
        ;;    :ns-regexp "-test$"}

        ;;   :test-karma
        ;;   {:target :karma
        ;;    :output-to "target/karma/test.js"
        ;;    :ns-regexp "-test$"}
          }}