body {
  font-family: "Times New Roman", Times, serif;
  padding: 100px;
  font-size: 18px;
}

.main {
  background: #fff;

}

.top {
  font-size: 34px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.buttons {
  margin: 0.2rem;
}
